<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html40/loose.dtd">
	
<html>
<head>
	<title>%TITLE%</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

		
	<style type="text/css">	<!--
	
		body {
			color: #000000;
			background-color: #FFFFFF;
		}
		a:link { color: #0000CC; }
		a:active { color: #FF0000; } 
		a:visited { color: #0000FF; }
		
	--> </style>
	
</head>
<body> 

<h1>
	<img src="debian.jpg" 
		alt="[Debian Logo]" 
		border="0" 
		width="188" 
		height="50" 
		hspace="10" 
		align="bottom"> 
	<b>%TITLE%</b>
</h1>


<p style="text-align: justify; font-size: large;">
	Welcome to <b>dwww</b>, the Debian on-line documentation page.
</p>

<p>
	This page contains links to all of the on-line documentation that is
	available on this Debian system. For more information on dwww, read the
	<a href="/cgi-bin/dwww?search=dwww"><em>on-line documentation</em></a> for
	dwww.
</p>

<hr>

<p style="font-size: x-large">
	<b>Browse</b>
</p>

<ul>
	<li>
		<span style="font-size: large">
			Debian Documentation Menu:
		</span>
		<ul>
			<li><a href="menu/index.html">Each section in a separate file</a></li>
			<li><a href="menu/all.html">All sections in one file</a></li>
		</ul>
	</li>

	<li>
		<a href="man/index.html">Manual pages:</a>
		<ul>
			<li><a href="man/index.html#s">By section</a></li>
			<li><a href="man/index.html#n">By name</a></li>
		</ul>
	</li>

	<li>
		<a href="/cgi-bin/info2www">GNU info documents</a>
	</li>

	<li>
		<a href="/cgi-bin/dwww?type=dir&amp;location=/usr/share/doc">
		Documentation folders : /usr/share/doc</a>
	</li>

</ul>

<hr>

<p style="font-size: x-large">
	<b>Search</b>
</p>

<form method="POST" action="/cgi-bin/dwww">
	<table border="0" cellspacing="3" cellpadding="3">
	<tr>
		<td align="left">
		<ul>
			<li><label accesskey="p"><input type="radio" name="searchtype" checked value="p">for a program or package</label>
	    		<li><label accesskey="m"><input type="radio" name="searchtype" value="m">in Debian Documentation Menu</label>
	    		<li><label accesskey="d"><input type="radio" name="searchtype" value="d">in registered documentation</label>
		</ul>  		
		</td>
		<td valign="middle" align="center">
    			<input name="search" size="30">
			<br>
		    	<input type="submit" name="programsubmit" value="Search">
		</td>
	</tr>
	</table>
</form>

<hr>

<p style="font-size: small">
	Please send comments, wishes and bug reports using the 	
	<a href="/cgi-bin/dwww?type=file&amp;location=/usr/share/doc/debian/bug-reporting.txt">Debian Bugtracking System</a>.
</p>

<hr>

<p style="font-size: small">
<i>Generated by <a href="/dwww/"><b>dwww</b></a> version %VERSION% on %DATE%.</i>
</p>

</body>
</html>
<!-- vim:set ft=html: -->
